@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(56, 56, 56);
}

main {
    position: relative;
    
}

h1#nome, h1#sobrenome {
    position: absolute;
    left: 40%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
    width: 10vw;

}

h1#nome {
    top: 60px
}

h1#sobrenome {
    top: 130px;
    padding-left: 30px;
}

p {
    color: aliceblue;
    text-align: justify;
    position: absolute;
    left: 35%;
    top: 35%;
    padding: 20px;
}

img#parte {
    position: relative;
    display: inline-block;
    height: 97vh;
    width: 32%;
    
    
}

img#foto1 {
    height: 80vh;
    margin: 5px;
    position: absolute;
    top: 85px;
    left: 0px;
    height: 460px;
    width: 30%;
    border: 1px solid black; 
}

section#computador {
    background-color: white;
    width: 50vw;
    height: 50vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-95%, 10%);
    margin-bottom: 80px;
    background-image: url("../imagens/computador.png");
    background-size: cover;
    background-position: center center;
}
