@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(56, 56, 56);
}

main {
    position: relative;
    
}

h1#nome, h1#sobrenome {
    position: absolute;
    left: 40%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
    width: 10vw;

}

h1#nome {
    top: 60px
}

h1#sobrenome {
    top: 130px;
    padding-left: 30px;
}

p {
    color: aliceblue;
    text-align: justify;
    position: absolute;
    left: 35%;
    top: 25%;
    padding: 20px;
    max-width: 800px;
}

img#parte {
    position: relative;
    display: inline-block;
    height: 97vh;
    width: 32%;   
}

img#foto1 {
    height: 80vh;
    margin: 5px;
    position: absolute;
    top: 85px;
    left: 0px;
    height: 460px;
    width: 30%;
    border: 1px solid black; 
}

h1#textorede {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    padding-left: 25%;
    padding-top: 100px;
    
   
}

section#computador {
    width: 500px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    margin-bottom: 80px;
    background-image: url("../imagens/computador.png");
    background-size: cover;
    background-position: center center;
}

iframe#home {
    width: 413px;
    height: 238px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(9%,31%);
}

section#redes {
    width: 90vw;
}

section#redes a {
    padding-left: 20px;
    padding-bottom: 20px;
    
}

section#redes > a > img {
    border-radius: 50%;
    width: 80px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}


